<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Search</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:each="book: ${books}">
        <div class="row">
            <div class="col-md-10">
                <div class="amazing-block">
                    <h4><a th:href="@{/book/{id}(id=${book.id})}" th:text="${book.title}">...</a></h4>
                    <p class="img-center"><img class="img-size" th:src="@{|/book/${book.id}/image|}"/></p>
                    <p th:text="${book.description}"></p>
                </div>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>